
<div id="inv-header" style="position: relative;"><form [formGroup]="salesForm">
    <div class="section-content">
        <!-- new form Design -->
        <div class="row">
            <!--col-->
                    <div class="col-3">
                        <div class="row">
                        <div class="col-4">
                            <label for="vouchername" class="form-label">Voucher No</label>
                        </div>
                        <div class="col-3">
                            <ejs-textbox
                            id="vouchername"
                            formControlName="vouchername"
                            [tabindex]="1"
                            cssClass="e-input" [readonly]="true"
                            ></ejs-textbox>
                        </div>
                        
                    
                        <div class="col-4">
                            <ejs-textbox
                            id="voucherno"
                            formControlName="voucherno"
                            [tabindex]="2"
                            cssClass="e-input"  [readonly]="!(isNewMode() || isEditMode())"
                            ></ejs-textbox>
                            </div>
                        </div>
                    </div>
        <!--col-->
                <div class="col-3">
                    <div class="row">
                            <div class="col-4">
                                <label for="purchasedate" class="form-label">Date</label>
                            </div>
                            <div class="col-8">
                                <div class="flex-wrapper purchase-date-wrapper calendar-wrapper">
                                <ejs-datepicker formControlName="purchasedate"
                                    (keydown)="onFormKeyDown($event,4)" [disabled]="true" 
                                    (change)="validationbase.validateDate(salesForm, 'purchasedate', $event.value)">

                                    ></ejs-datepicker> 
                                </div>
                            </div>
               
                        </div>
                    </div>
                     <!--col-->
                <div class="col-3">
                    <div class="row">
                            <div class="col-4">
                                <label for="reference" class="form-label">Reference</label>
                            </div>
                            <div class="col-8">
                                <div class="reference-btn-section">
                                    <div class="e-input-group">
                                    <ejs-textbox id="reference" formControlName="reference"
                                        (keydown)="onFormKeyDown($event,5)" [tabindex]="4"></ejs-textbox>
                            <span class="e-input-group-icon e-btn "  (click)="openImportReferencePopup()">
                                <i class="e-icons e-search"></i>
                            </span>
                        </div>
                                    
                                  
                                    <!-- <ejs-button type="button" class="bt_loadmore" ngbTooltip="Import" placement="top"
                                        (click)="openImportReferencePopup()">...</ejs-button>
                                    <div *ngIf="salesForm.get('reference')?.hasError('required')" class="text-danger">
                                        Reference is required.
                                    </div> -->
                                </div>
                            </div>
               
                        </div>
                    </div>
                    <!--col-->
                <div class="col-3">
                    <div class="row">
                            <div class="col-4">
                                 <label for="warehouse" class="form-label">Warehouse</label>
                          
                            </div>
                            <div class="col-8">
                                 <ejs-dropdownlist id="warehouse" formControlName="warehouse" [dataSource]="warehouseData"
                                [fields]="{ text: 'value', value: 'id' }" [value]="salesForm.get('warehouse')?.value"
                                (change)="onChangeWarehouse($event)" placeholder="Select warehouse"
                                [disabled]="isMobile">
                            </ejs-dropdownlist>
                            </div>
               
                        </div>
                    </div>
        </div>

        <!--row 0-->
        <div class="row">
               <!--col-->
                    <div class="col-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="project" class="form-label">Project</label>
                          
                            </div>
                            <div class="col-8">
                                  <ejs-textbox formControlName="project" (keydown)="onFormKeyDown($event, 4)"
                            (input)="openProjectPopup()" placeholder="Search for a project"></ejs-textbox>
               
                            </div>
               
                        </div>
                    </div>
                     <!--col-->
                    <div class="col-3">
                        <div class="row">
                            <div class="col-4">
                                 <label for="customer" class="form-label">Customer<span
                                    class="required-asterisk">*</span></label>
                          
                            </div>
                            <div class="col-7">
                                    <div class="e-input-group">
                                 <ejs-textbox formControlName="customer" (input)="openCustomerPopup()"
                                    (keydown)="onFormKeyDown($event,4)"></ejs-textbox>
                                        <span class="e-input-group-icon e-btn "   (click)="openCustomerPopup(); $event.stopPropagation()">
                                <i class="e-icons e-search"></i>
                            </span>
                                            </div>
                            </div>
               
                        </div>
                    </div>
                    <!--col-->
                            <div class="col-3">
                            <div class="row">
                                <div class="col-4">
                                    <label for="salesman" class="form-label">Sales Man</label>
                            
                                </div>
                                <div class="col-7">
                                    <ejs-textbox formControlName="salesman"
                                        (keydown)="onFormKeyDown($event,4)"></ejs-textbox>
                                </div>
                                </div>
                
                            </div>
                    <!--col-->
                            <div class="col-3">
                            <div class="row">
                                <div class="col-4">
                            <label for="vatno" class="form-label">VAT No</label>
                            
                                </div>
                                <div class="col-8">
                                    <ejs-textbox id="vatno" formControlName="vatno" (keydown)="onFormKeyDown($event,10)"
                                [tabindex]="9"></ejs-textbox>
                                </div>
                                </div>
                
                            </div>
                </div>
                 <!--row 0-->
                        <div class="row">
                            <!--col-->
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4">
                                    <label for="partyinvoiceno" class="form-label">Party Invoice No & Date</label>

                                            </div>
                                            <div class="col-4">
                                            <ejs-textbox id="partyinvoiceno" formControlName="partyinvoiceno"
                                        (change)="onChangePartyInvNo($event)" (keydown)="onFormKeyDown($event,11)"
                                        [tabindex]="10"></ejs-textbox>
                                        </div>
                                        <div class="col-4">
                                            <div class="calendar-wrapper party-invoice-date-wrapper">
                                                <ejs-datepicker formControlName="partyinvoicedate" (dateChange)="onChangePartyInvDate($event)"
                                                    (keydown)="onFormKeyDown($event,12)"></ejs-datepicker>
                                            </div>
                                        </div>
                                            </div>
               
                                    </div>
                                      <!--col-->
                            <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                     <label for="description" class="form-label">Description</label>
                  
                            
                                </div>
                                <div class="col-8">
                                    <ejs-textbox id="description" formControlName="description" [tabindex]="12"
                        (keydown)="onFormKeyDown($event,-1)"></ejs-textbox>
                                </div>
                                </div>
                
                            </div>
                         </div>
                  
        

 
</div>

        <!-- end new design-->

        

</form>
</div>


<!-- Legacy Reference Popup (can be removed if not needed) -->
<!-- <app-reference-popup 
    *ngIf="isPopuprefVisible"
    [popuprefData]="popuprefData" 
    [visible]="isPopuprefVisible"
    [referenceData]="referenceFillData" 
    [voucherTypes]="voucherTypeData" 
    [partyData]="partyData"
    (close)="closeReferencePopup()">
</app-reference-popup> -->
