<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="row main-content-area p-2">

  <!-- Tabs -->
  <div class="odoo-tabs">
    <button class="tab-btn tab-btn-text-custom fw-bold" [class.active]="isActive('general')"
      (click)="setActive('general')">
      General Information
    </button>

    <button class="tab-btn tab-btn-text-custom fw-bold" [class.active]="isActive('sales')" (click)="setActive('sales')">
      Sales Information
    </button>

    <button class="tab-btn tab-btn-text-custom fw-bold" [class.active]="isActive('delivery')"
      (click)="setActive('delivery')">
      Delivery
    </button>

    <button class="tab-btn tab-btn-text-custom fw-bold" [class.active]="isActive('terms')" (click)="setActive('terms')">
      Terms of Delivery
    </button>
  </div>

  <div class="tab-content mt-2">
    <form [formGroup]="additionalDetailsForm">

      <!-- General -->
      <div [hidden]="!isActive('general')">
        <div class="row g-3">

          <ng-container *ngFor="let field of [
      {label:'Party Invoice No', type:'text', control:'partyInvoiceNo'},
      {label:'Invoice Date', type:'date', control:'partyInvoiceDate'},
      {label:'Order No', type:'text', control:'orderNo'},
      {label:'Order Date', type:'date', control:'orderDate'},
      {label:'Party Name', type:'text', control:'partyName'},
      {label:'Party Address', type:'text', control:'partyAddress'},
      {label:'Expiry Date', type:'date', control:'expiryDate'}
    ]">

            <div class="col-12 col-md-6 col-lg-3">
              <div class="d-lg-flex align-items-center">

                <label class="fw-semibold mb-1 mb-lg-0 me-lg-2" style="min-width: 130px;">
                  {{field.label}}
                </label>

                <div class="flex-fill">
                  <ejs-textbox *ngIf="field.type === 'text'" [formControlName]="field.control" width="100%">
                  </ejs-textbox>

                  <ejs-datepicker *ngIf="field.type === 'date'" [formControlName]="field.control" width="100%">
                  </ejs-datepicker>
                </div>

              </div>
            </div>

          </ng-container>

          <!-- Credit Period -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="d-lg-flex align-items-center">

              <label class="fw-semibold mb-1 mb-lg-0 me-lg-2" style="min-width: 130px;">
                Credit Period
              </label>

              <div class="flex-fill">
                <ejs-numerictextbox formControlName="creditPeriod" [min]="0" [format]="'n0'" width="100%">
                </ejs-numerictextbox>
              </div>

            </div>
          </div>

        </div>
      </div>

      <!--Sales -->
      <div [hidden]="!isActive('sales')">
        <div class="row">

          <!-- Salesman -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="row align-items-center">
              <label class="col-12 col-lg-5 col-form-label fw-semibold">
                Salesman
              </label>
              <div class="col-12 col-lg-7">
                <ejs-dropdownlist formControlName="salesman" [dataSource]="[{ text: 'Select', value: '1' }]"
                  [fields]="{ text: 'text', value: 'value' }" width="100%">
                </ejs-dropdownlist>
              </div>
            </div>
          </div>

          <!-- Sales Area -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="row align-items-center">
              <label class="col-12 col-lg-5 col-form-label fw-semibold">
                Sales Area
              </label>
              <div class="col-12 col-lg-7">
                <ejs-dropdownlist formControlName="salesarea" [dataSource]="[{ text: 'Select', value: '1' }]"
                  [fields]="{ text: 'text', value: 'value' }" width="100%">
                </ejs-dropdownlist>
              </div>
            </div>
          </div>

          <!-- Staff Incentive -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="row align-items-center">
              <label class="col-12 col-lg-6 col-form-label fw-semibold">
                Staff Incentive (%)
              </label>
              <div class="col-12 col-lg-6">
                <ejs-textbox formControlName="staffincentive" width="100%">
                </ejs-textbox>
              </div>
            </div>
          </div>

          <!-- Mobile Number -->
          <div class="col-12 col-md-6 col-lg-3">
            <div class="row align-items-center">
              <label class="col-12 col-lg-5 col-form-label fw-semibold">
                Mobile Number
              </label>
              <div class="col-12 col-lg-7">
                <ejs-textbox formControlName="mobilenumber" width="100%">
                </ejs-textbox>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Delivery -->
      <div [hidden]="!isActive('delivery')">
        <div class="row g-3">

          <ng-container *ngFor="let field of [
      {label:'Vehicle No', control:'vehicleno'},
      {label:'Attention', control:'attention'},
      {label:'Delivery Note', control:'deliverynote'},
      {label:'Dispatch Details', control:'dispatchno'},
      {label:'Delivery Party Name', control:'deliverypartyname'},
      {label:'Address Line 1', control:'addressline1'},
      {label:'Address Line 2', control:'addressline2'},
      {label:'Address Line 3', control:'addressline3'}
    ]">

            <div class="col-12 col-md-6 col-lg-3">
              <div class="d-lg-flex align-items-center">

                <label class="fw-semibold mb-1 mb-lg-0 me-lg-2" style="min-width: 130px;">
                  {{field.label}}
                </label>

                <div class="flex-fill">
                  <input class="form-control" [formControlName]="field.control">
                </div>

              </div>
            </div>

          </ng-container>

          <!-- Delivery Location -->
          <div class="col-12 col-lg-6">
            <div class="d-lg-flex align-items-center">

              <label class="fw-semibold mb-1 mb-lg-0 me-lg-2" style="min-width: 130px;">
                Delivery Location
              </label>

              <div class="flex-fill">
                <input class="form-control" formControlName="deliverylocation">
              </div>

            </div>
          </div>

        </div>
      </div>

      <!-- Terms -->
      <div [hidden]="!isActive('terms')">
        <div class="row g-3">

          <div class="col-12">
            <div class="d-lg-flex">

              <label class="fw-semibold mb-1 mb-lg-0 me-lg-3" style="min-width: 180px;">
                Terms & Conditions
              </label>

              <div class="flex-fill">
                <textarea class="form-control" rows="4" formControlName="terms">
                </textarea>
              </div>

            </div>
          </div>

        </div>
      </div>


    </form>
  </div>

</div>