.tab-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 4px 10px;
}

.tab-right {
  display: flex;
  gap: 8px;
  align-items: center;
}

