<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="h-100 d-flex flex-column" #scrollableDivLeft
>
  <div #overlay *ngIf="isLeftGridDisabled$ | async"   class="overlay">
    <h3 translate>Disabled </h3><br /> 
    <p>Left grid is enabled when the New or Edit button is clicked.</p>
  </div>

  <div class="left-grid-search flex-shrink-0" *ngIf="columns.length">
    <input type="text" class="form-control text-center" placeholder="...Search..." [ngModel]="searchText()"
      (ngModelChange)="onSearchChange($event)" />
  </div>


  <ejs-grid #grid [dataSource]="this.filteredData$ | async" [allowResizing]="true" [allowTextWrap]="true"
    [enableHover]="false" (rowSelected)="onRowSelect($event)" [allowFiltering]="true" [filterSettings]="filterOptions"
    [allowSorting]="true" gridLines="Both"    height="100%" [rowHeight]="30" class="flex-grow-1">

    <e-columns>
      <ng-container *ngFor="let col of columns">
        <!-- Stacked Header -->
        <e-column *ngIf="col.columns; else singleCol" [headerText]="col.headerText">
          <e-stacked-columns>
            <e-stacked-column *ngFor="let child of col.columns" [field]="child.field" [headerText]="child.headerText"
              textAlign="Center" width="120">

            </e-stacked-column>
          </e-stacked-columns>
        </e-column>

        <!-- Single Column -->
        <ng-template #singleCol>
          <e-column [field]="col.field" [headerText]="col.headerText" textAlign="Center"
            [width]="col.field === 'someMainField' ? 'auto' : '120'">
          </e-column>
        </ng-template>
      </ng-container>
    </e-columns>

  </ejs-grid>


</div>