// Color Palette
$primary: #C9C5D3;
$secondary: #4B4E6D;
$secondary-light:#6F7393;
$accent: #6BAFA0;
$background: #F4F4F6;
$card-bg: #FAFAEC;
$text: #2D2D2D;
$text-secondary: #66687A;
$text-white: #f3f3f3;

$border: #D1D1DB;
$error: #D16363;
$success: #6BBF59;

// Typography
$font-base: 'Inter', sans-serif;
$font-heading: 'Playfair Display', serif;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Border Radius
$radius-sm: 4px;
$radius-md: 8px;
