<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6">
      <form [formGroup]="paymentVoucherForm">

        <!-- Voucher Row -->
        <div class="row align-items-center">

          <!-- Voucher No Label -->
          <label class="col-12 col-md-2 form-label">
            Voucher No <span class="text-danger">*</span>
          </label>

          <!-- Voucher Prefix -->
          <div class="col-6 col-md-2">
            <ejs-textbox id="voucherName" formControlName="voucherName" cssClass="w-100">
            </ejs-textbox>
          </div>

          <!-- Voucher Number -->
          <div class="col-6 col-md-2">
            <ejs-textbox id="voucherNo" formControlName="voucherNo" cssClass="w-100">
            </ejs-textbox>
          </div>

          <!-- Voucher Date Label -->
          <label class="col-12 col-md-2 form-label">
            Voucher Date <span class="text-danger">*</span>
          </label>

          <!-- Voucher Date -->
          <div class="col-12 col-md-4">
            <ejs-datepicker id="voucherDate" formControlName="voucherDate" placeholder="dd/MM/yyyy" format="dd/MM/yyyy"
              cssClass="w-100">
            </ejs-datepicker>
          </div>

        </div>


        <!-- Cost Centre / Department -->
        <div class="row mb-2">

          <label class="form-label col-12 col-md-2 h6">
            CostCentre
          </label>

          <div class="col-12 col-md-4">
            <ejs-dropdownlist id="costCentre" formControlName="costCentre" [dataSource]="costCentreData"
              [fields]="{ text: 'description', value: 'id' }" placeholder="Select CostCentre" cssClass="w-100">
            </ejs-dropdownlist>
          </div>

          <label class="form-label col-12 col-md-2 h6">
            Department
          </label>

          <div class="col-12 col-md-4">
            <ejs-dropdownlist id="department" formControlName="department" [dataSource]="departmentData"
              [fields]="{ text: 'name', value: 'id' }" placeholder="Select Department" cssClass="w-100">
            </ejs-dropdownlist>
          </div>

        </div>

        <!-- Narration -->
        <div class="row mb-2">

          <label class="form-label col-12 col-md-2 h6">
            Narration
          </label>

          <div class="col-12 col-md-10">
            <ejs-textbox id="narration" formControlName="narration" cssClass="e-input w-100">
            </ejs-textbox>
          </div>

        </div>

        <!-- Reference -->
        <div class="row mb-2">

          <label class="form-label col-12 col-md-2 h6">
            Reference No
          </label>

          <div class="col-12 col-md-10">
            <ejs-textbox id="referenceNo" formControlName="referenceNo" cssClass="e-input w-100">
            </ejs-textbox>
          </div>

        </div>

      </form>
    </div>


    <!-- Right Side Buttons -->
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">

          <div class="e-btn-group w-100 d-flex flex-wrap">

            <button type="button" class="e-btn e-small e-info flex-fill" (click)="onPaymentTypeClick('Cash')">
              <span class="material-icons">account_balance_wallet</span>
              Cash
            </button>

            <button type="button" class="e-btn e-small e-primary flex-fill" (click)="onPaymentTypeClick('Card')">
              <span class="material-icons">credit_card</span>
              Card
            </button>

            <button type="button" class="e-btn e-small e-warning flex-fill" (click)="onPaymentTypeClick('Cheque')">
              <span class="material-icons">receipt</span>
              Cheque
            </button>

            <button type="button" class="e-btn e-small e-success flex-fill" (click)="onPaymentTypeClick('EPAY')">
              <span class="material-icons">payments</span>
              E-Pay
            </button>

          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Account Details-->
  <div class="row mt-3">
    <div class="col-md-12">
      <h6 class="section-title">Account Details</h6>
      <ejs-grid #accountDetailsGrid [dataSource]="voucherCommonService.accountDetailsData()"
        [editSettings]="accountDetailsEditSettings" [allowResizing]="true" [allowTextWrap]="true" gridLines="Both"
        height="200px" [rowHeight]="30" (cellSave)="onAccountDetailsCellSave($event)"
        (actionComplete)="onAccountDetailsActionComplete($event)" (keydown)="onGridKeyDown($event)">
        <e-columns>
          <e-column field="accountCode" headerText="AccountCode" width="150">
            <ng-template #editTemplate let-data>
              <ejs-multicolumncombobox [dataSource]="voucherService.accountMasterData()"
                [fields]='{text: "accountCode", value: "accountCode"}' [value]="data.accountCode"
                [showClearButton]="true" [allowFiltering]="true" filterType="Contains"
                placeholder="Search by Account Code or Name..." popupWidth="600px"
                [enableVirtualization]="true"
                (change)="onAccountSelect($event, data)" (filtering)="onAccountFiltering($event)">
                <e-columns>
                  <e-column field="accountCode" headerText="Account Code" width="150"></e-column>
                  <e-column field="accountName" headerText="Account Name" width="250"></e-column>
                </e-columns>
              </ejs-multicolumncombobox>
            </ng-template>
          </e-column>
          <e-column field="accountName" headerText="AccountName" width="200" [allowEditing]="false"></e-column>
          <e-column field="description" headerText="Description" width="250"></e-column>
            
              <e-column field="dueDate" headerText="Due Date" width="150">
                <ng-template #template let-data>
                  {{ formatDate(data.dueDate) }}
                </ng-template>

                <ng-template #editTemplate let-data>
                  <ejs-datepicker [value]="getDateValue(data.dueDate)" format="dd/MM/yyyy" placeholder="dd/MM/yyyy"
                    [enableMask]="true" [maskPlaceholder]="{ day: 'dd', month: 'MM', year: 'yyyy' }"
                    (change)="onDueDateChange($event, data)">
                  </ejs-datepicker>
                </ng-template>
              </e-column>
          <e-column field="debit" headerText="Debit" width="120" textAlign="Right" type="number" editType="numericedit"
            [allowEditing]="true"
            [edit]="debitEditParams" format="N2">
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>


  <!-- Payment Details-->
  <div class="row mt-3">
    <div class="col-md-12">
      <h6 class="section-title">Payment Details</h6>
      <ejs-grid #paymentDetailsGrid [dataSource]="voucherCommonService.paymentDetailsData()"
        [editSettings]="paymentDetailsEditSettings" [allowResizing]="true" [allowTextWrap]="true" gridLines="Both"
        height="200px" [rowHeight]="30">
        <e-columns>
          <e-column field="AccountName" headerText="AccountName" width="250"></e-column>
          <e-column field="Description" headerText="Description" width="300"></e-column>
          <e-column field="Amount" headerText="Amount" width="150" textAlign="Right" format="N2"></e-column>
          <e-column field="TranType" headerText="TranType" width="120"></e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>

</div>


<!-- Payment Popup Component -->
<app-paymentpopup *ngIf="showPaymentPopup" [popupData]="popupData" [bankData]="voucherService.bankData()"
  [popupType]="popupType" [initialAmount]="paymentRemaining" [existingData]="popupExistingData"
  (itemSelected)="onItemSelected($event)" (closePopup)="closePaymentPopup()">
</app-paymentpopup>

<!-- PO Allocation Popup Component -->
<app-poallocationpopup #poAllocationPopup (allocationComplete)="onAllocationComplete($event)">
</app-poallocationpopup>