<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form [formGroup]="salesForm">
  <div class="section-content">
    <div class="terms-discount-section">
      <div class="terms-outer">
        <label for="terms" class="form-label terms-label">Terms</label>
        <ejs-textbox class="terms-input" id="terms" formControlName="terms" [tabindex]="13" cssClass="e-input"></ejs-textbox>
      </div>

      <!-- <div class="discount-outer">
        <label for="commoditydiscount" class="form-label disc-label">Total Disc Comm.Disc</label>
        <label for="%" class="form-label">%</label>
        <input type="text" class="form-control" id="totaldiscpercent" formControlName="totaldiscpercent" tabindex="14"
          appNumberFormat />

        <label for="discountamount" class="form-label amt-label">Amt</label>
        <input type="text" id="discountamount" formControlName="discountamount" tabindex="15" appNumberFormat />

        <button type="button" class="disc-amt-apl" [disabled]="true" ngbTooltip="Import" placement="top">
          Apl
        </button>

        <label for="discsellamt" class="form-label amt-label">Disc Sell Amt</label>
        <input type="text" id="discsellamt" class="form-control" formControlName="discsellamt" tabindex="10" />
      </div> -->

      <div class="discount-outer">
        <label for="commoditydiscount" class="form-label disc-label">Total Disc
          Comm.Disc</label>
        <label for="%" class="form-label">%</label>
        <ejs-textbox id="totaldiscpercent" formControlName="totaldiscpercent"
          (change)="onChangeCommonDiscountPercent($event)" [tabindex]="14" appNumberFormat cssClass="e-input"></ejs-textbox>

        <label for="discountamount" class="form-label amt-label">Amt</label>
        <ejs-textbox id="discountamount" formControlName="discountamount"
          (change)="onChangeCommonDiscountAmount($event)" [tabindex]="15" appNumberFormat cssClass="e-input"></ejs-textbox>
        <button type="button" ejs-button class="disc-amt-apl" [disabled]="true" ngbTooltip="Import" placement="top">
          Apl
        </button>

        <label for="discsellamt" class="form-label amt-label">Disc Sell Amt</label>
        <ejs-textbox id="discsellamt" formControlName="discsellamt" [tabindex]="10"
          (change)="onChangeDiscSellAmount($event)" appNumberFormat cssClass="e-input"></ejs-textbox>
      </div>

    </div>

    <div class="roundoff-container-start" style="display: flex">
      <div class="tax-roundoff-container" style="margin-right: 0px">
        <div class="tax-roundoff-section">
          <label for="roundoff" class="form-label">Round Off</label>
          <div class="flex-wrapper">
            <ejs-textbox id="roundoff" formControlName="roundoff" [tabindex]="16" cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" (click)="onClickRoundOff()">...</button>
          </div>
        </div>

        <div class="tax-roundoff-section">
          <label for="tax" class="form-label">Tax</label>
          <div class="flex-wrapper">
            <ejs-textbox id="tax" formControlName="tax" appNumberFormat cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top" (click)="fetchtax()">
              ...
            </button>
          </div>
        </div>

        <div class="tax-roundoff-section">
          <label for="addcharges" class="form-label">Add. Charges</label>
          <div class="flex-wrapper">
            <ejs-textbox id="addcharges" formControlName="addcharges" cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top"
              (click)="fetchAdditionalChargesPopup()">
              ...
            </button>
          </div>
        </div>

        <div class="tax-roundoff-section">
          <label for="netamount" class="form-label">Net Amount</label>
          <ejs-textbox id="netamount" formControlName="netamount" [readonly]="true" appNumberFormat cssClass="e-input"></ejs-textbox>
        </div>
      </div>

      <div class="grandtotal-section">
        <label for="grandtotal" class="form-label">Grand Total</label>
        <ejs-textbox id="grandtotal" formControlName="grandtotal" [readonly]="true" cssClass="e-input"></ejs-textbox>
      </div>
    </div>

    <div class="section-separator"></div>

    <div class="payment-tab-outer">
      <div class="payment-tab">
        <span>Common payment methods</span>
      </div>
      <div class="payment-tab">
        <span>Additional payment methods</span>
      </div>
    </div>

    <div class="payment-tab-content" #targetDiv>
      <div class="paytype-section">
        <div class="paytype-label-input">
          <label class="label-pay-type">Pay Types</label>
          <div class="pay-type-select">
            <ejs-dropdownlist id="paytype" [dataSource]="payTypeObj" [fields]="{ text: 'name', value: 'id' }"
              [value]="salesForm.get('paytype')?.value?.id" (change)="onChangePayType($event)"
              placeholder="Select pay type">
            </ejs-dropdownlist>
          </div>
        </div>

        <div class="cash-label-input">
          <label for="cash" class="label-cash">Cash</label>
          <div class="cash-input-popup">
            <ejs-textbox id="cash" formControlName="cash" cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top"
              (click)="fetchCashPopup()">
              ...
            </button>
          </div>
        </div>

        <div class="cash-label-input">
          <label for="card" class="label-card">Card</label>
          <div class="card-input-popup">
            <ejs-textbox id="card" formControlName="card" cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top"
              (click)="fetchCardPopup()">
              ...
            </button>
          </div>
        </div>
      </div>

      <div class="paytype-section">
        <div class="advance-label-input">
          <label for="advance" class="advance-label">Advance</label>
          <div class="advance-popup-btn">
            <ejs-textbox id="advance" formControlName="advance" cssClass="e-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top">
              ...
            </button>
          </div>
        </div>

        <div class="cheque-label-input">
          <label for="cheque" class="cheque-label">Cheque</label>
          <div class="cheque-popup-input">
            <ejs-textbox id="cheque" formControlName="cheque" cssClass="e-input cheque-input"></ejs-textbox>
            <button type="button" ejs-button class="btn btn-secondary" ngbTooltip="Create" placement="top"
              (click)="fetchChequePopup()" [disabled]="!isChequeButtonEnabled">
              ...
            </button>
          </div>
        </div>


        <div class="duedate-section">
          <label for="duedate" class="duedate-label">Due Date</label>

          <div class="duedate-input calendar-wrapper">
            <ejs-datepicker formControlName="duedate" [format]="'dd-MM-yyyy'" [placeholder]="'Select due date'"
              [showClearButton]="true" [min]="minDate" [max]="maxDate" [strictMode]="true" [openOnFocus]="true"
              (change)="onDueDateChange($event)">
            </ejs-datepicker>
          </div>
        </div>

      </div>

      <div class="">
        <div class="total-paid-label-input">
          <label for="totalpaid" class="form-label total-paid-label">Total Paid</label>
          <div class="total-paid-input">
            <ejs-textbox id="totalpaid" formControlName="totalpaid" [readonly]="true" cssClass="e-input"></ejs-textbox>
          </div>
        </div>

        <div class="balance-label-input">
          <label for="balance" class="form-label balance-label"><b>Balance</b></label>
          <ejs-textbox id="balance" formControlName="balance" [readonly]="true" cssClass="e-input balance-input"></ejs-textbox>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- <app-popup [popupData]="popupData" *ngIf="isPopupVisible" [visible]="isPopupVisible"     (closed)="closePopup()"  (itemSelected)="onPopupItemSelected($event)"></app-popup> -->
<app-paymentpopup *ngIf="showPopup" [popupData]="popupData" [bankData]="bankData" [popupType]="popupType"
  [grandTotal]="getGrandTotalForPopup()" (itemSelected)="onItemSelected($event)" (closePopup)="closePopup()"></app-paymentpopup>